@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: arial;
}
.container input[type="text"]::placeholder, input[type="password"]::placeholder {
  font-size: 14px;
}
.btn-primary{
  color: #ffffff;
  background-color: #FF9548;
  border: none;
}
.btn-primary:hover{
  color: #ffffff;
  background-color: #FF7622;
  border: none;
}

.text{
  font-size: 12px;
  color: #0D6EFD;
}
.text a{
  color: #0D6EFD;
}
footer {
  background-color: #202020;
}

.alert {
  margin-bottom: 1rem;
}
